@model ModeloPedidos.Clases.Pedidos

@{
    ViewBag.Title = "Detalle del Pedido";
}

<h2>Detalle del Pedido</h2>
<div>
    <hr />
    <div class="alert alert-info">
        <div class="container">
            <div class="row p-b-10">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 negrita text-left">@Html.DisplayNameFor(model => model.Restaurantes.Restaurante)</div>
                        <div class="col-md-6 text-left">@Html.DisplayFor(model => model.Restaurantes.Restaurante)</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 negrita text-left">@Html.DisplayNameFor(model => model.Referencia)</div>
                        <div class="col-md-6 text-left">@Html.DisplayFor(model => model.Referencia)</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 negrita text-left">@Html.DisplayNameFor(model => model.Fecha)</div>
                        <div class="col-md-6 text-left">@Html.DisplayFor(model => model.Fecha)</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 negrita text-left">@Html.DisplayNameFor(model => model.Personas.nombre)</div>
                        <div class="col-md-6 text-left">@Html.DisplayFor(model => model.Personas.nombre)</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@{
    Html.RenderAction("_listaProductosPedido", "ProductosPedidos", new { idPedido = Model.Id_pedido });

}
<p class="text-right">
    @Html.ActionLink("Nuevo Producto", "Create", "ProductosPedidos", new { id = Model.Id_pedido, @class = "btn btn-primary" })
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default"})
</p>
